/* FULL PAGE RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #050709; /* match dashboard background */
}

/* Remove any default white background */
body {
  background-color: #050709;
}
